# Virtual Environment
venv/
/venv/
.venv/
*/venv/
*/.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
*.env

# IDE and editor files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db